/********************************************/
/* default */

body	{
	background-color:#ffffff;
	color:#333333;
	font-size:12px;
	line-height:20px;
	margin-top:20px;
	font-family:verdana, "Bitstream Vera Sans", arial, helvetica, sana-serif;
}

a	{
	color:#003399;
	text-decoration:none;
}

a:hover	{
	color:#88ddbb;
	text-decoration:underline overline;
}

img	{
	border:none;
}

h1	{
	position:relative;
	top:15px;
	color:#1f2b30;
	font-size:18px;
	font-weight:bold;
}

h2	{
	color:#4d5b8c;
	font-size:16px;
	font-weight:bold;
}

ul 	{
	list-style:none;
	margin:0px;
	padding:0px;
}

li 	{
	margin-left:50px;
}

/**********************************************/
/* div headder */

div#logo	{
	position:relative;
	float:left;
	width:auto;
	margin-left:50px;
	margin-right:30px;
	margin-bottom:30px;
	z-index:2;
}

div#logo2	{
	position:relative;
	float:right;
	width:auto;
	margin-left:30px;
	margin-right:20px;
	z-index:2;
}

/**********************************************/
/* div main */

#main	{
	clear:left;
	clear:right;
	margin-left:30px;
	width:90%;
        padding:10px 10px 10px 10px;
	border-left:2px solid #bbbbbb;
/*	border-left:2px solid #99b2d6;*/
}

/**********************************************/
/* div menu */

div.menu{
        clear:left;
	background:url(./img/bk_menu.png) no-repeat right;
       	background-color:#bbbbbb;
/*        background-color:#99b2d6;*/
/*	color:#0a2449;*/
	margin-left:30px;
        height:20px;
	width:90%;
}

div.menu li 	{
	float:left;
	width:auto;
	font-weight:bold;
}

div.ko_menu	{
	position:relative;
	width:100%;
	height:25px;
}

div.left{
        float:left;
	width:55%;
	margin-right:30px;
}

div.button_d	{
	position:relative;
	text-align:right;
	font-size:14px;
	margin-top:30px;
	margin-right:70px;
}

div.ko_menu ul{
	list-style:none;
	padding:0px;
}

div.ko_menu li{
	float:left;
	width:auto;
	margin:10px;
	font-weight:bold;
}


p.sub	{
	clear:left;
    	height:30px;
    	width:80%;
	background:url(./img/bk_sub.png) no-repeat right;
    	background-color:#dddddd;	
    	color:#000000;
/*	background-color:#bddaf2;*/
 	font-size:18px;
	font-weight:bold;
    	line-height:28px;
   	padding-left:10px;
	white-space:nowrap;
}

p.element	{
	clear:left;
	background:url(./img/bk_el.png) no-repeat right;
	background-color:#e5e5e5;
/*	background-color:#d2f0f9;*/
	margin-left:20px;
	width:50%;
}

p.checkbox	{
	margin-left:60px;
}

p.comment	{
	font-size:11px;
	line-height:14px;
	margin-top:-5px;
	margin-left:60px;
}

p.textarea	{
	margin-left:40px;
}

p.file	{
	margin-left:40px;
}

p.text	{
	margin-left:40px;
}

p.res	{
	margin-left:40px;
}

p.fst	{
	clear:left;
    	height:30px;
    	width:80%;
	background:url(./img/bk_sub.png) no-repeat right;
    	background-color:#dddddd;	
    	color:#000000;
/*	background-color:#bddaf2;*/
 	font-size:18px;
	font-weight:bold;
    	line-height:28px;
   	padding-left:10px;
	white-space:nowrap;
}

p.snd	{
	clear:left;
	background:url(./img/bk_el.png) no-repeat right;
	background-color:#e5e5e5;
/*	background-color:#d2f0f9;*/
	margin-left:20px;
	width:60%;
}

p.trd	{
	font-size:12px;
	line-height:14px;
	margin-left:40px;
        text-align:justify;
}

p.fth	{
	font-size:12px;
	line-height:14px;
	margin-left:60px;
}

p.fif	{
	font-size:12px;
	line-height:14px;
	margin-left:80px;
}

p.just  {
        text-align:justify;
/*        text-justify:auto;*/
}

p#ver	{
	font-size:12px;
	text-align:left;
/*	margin-top:50px;
	margin-right:50px;*/
	margin-left:60px;
}

td.list_a	{
	font-size:12px;
	line-height:14px;
}

td.list_b	{
	background-color:#e5e5e5;
/*	background-color:#d2f0f9;*/
	font-size:12px;
	line-height:14px;
}

input	{
	font-size:12px;
	line-height:14px;
}

textarea	{
	font-size:12px;
	line-height:14px;
}

ul.brite 	{
	margin-left:60px;
	margin-bottom:20px;
}

li.help {
	position:absolute;
	right:200px;
}

li.lab {
	font-weight:normal;
	position:absolute;
	right:200px;
}

input.button {
	border-top: 3px double #cccccc;
	border-right: 3px double #333333;
	border-bottom: 3px double #333333;
	border-left: 3px double #cccccc;
	color: #333333;
	background-color: #eeeaf2;
	font-family:verdana," Bitstream Vera Sans", arial, helvetica, sana-serif;
	font-size: 11px;
	font-weight: bold;
}

input.button:hover,
input.button:focus {
	border-top: 3px double #cccccc;
	border-right: 3px double #333333;
	border-bottom: 3px double #333333;
	border-left: 3px double #cccccc;
	color: #339999;
	background-color: #eeeaf2;
	font-family:verdana, "Bitstream Vera Sans", arial, helvetica, sana-serif;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	text-decoration:none;
}

input.button:active {
	border-top: 3px double #333333;
	border-right: 3px double #cccccc;
	border-bottom: 3px double #cccccc;
	border-left: 3px double #333333;
	color: #339999;
	background-color: #eeeaf2;
	font-family:verdana, "Bitstream Vera Sans", arial, helvetica, sana-serif;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}
